.portal {
  background-image: url("../../../assets/omniverse_entrance.png");
  background-repeat: space;
  background-position: center;
  background-size: contain;
  height: 100vh;
  width: 100vw;
  margin: auto;
  vertical-align: middle;
}
