.portal {
  background-image: url("../../../assets/omniverse_portal_wide.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90em;
  width: 157em;
  margin: auto;
  transition: all 2s ease;
}

.circle {
  width: 50em;
  height: 52em;
  margin-top: 19.5em;
  margin-left: 53.5em;
  border: 0px #333;
  border-radius: 10000px;
  transition: box-shadow ease-in-out 1s;

  &:hover {
    box-shadow: 0 0 250px #ffe8ae, 0 0 100px #ffe8ae inset;
  }
}

.crop {
  max-height: 69em;
  width: inherit;
  overflow: hidden;
}

.textbox {
  display: flex;
  position: absolute;
  top: 0;
}

.text {
  width: 20em;
  position: absolute;
  font-size: xx-large;
  text-align: center;
  animation: type 2s steps(60, end) forwards;
  opacity: 0;

  &--left {
    margin-left: 1em;
    margin-top: 19em;
  }

  &--right {
    margin-left: 58em;
    margin-top: 17em;
    animation-delay: 2s;
  }

  &--top {
    margin-left: 9em;
    margin-top: -0.5em;
    font-size: 64px;
    animation-delay: 4s;
  }
}

@keyframes type {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.zoom {
  transform: scale(10);
  z-index: 10;
  opacity: 0;
}
