<main id="portal" class="portal">    
    <div class="crop">
        <div class="circle" (click)="enter()"></div>
    </div>
    <div class="textbox">
        <div class="text text--left">
        <p>
            Every innovation begins at a moment where barriers fade and 
            communities unite around new possibilities. That moment has arrived.
            <br><br>
            Welcome to the Rujira Omniverse.
        </p>
        </div>
        <div class="text text--right">
            <p>
            A living layer of story, identity, and interaction 
            built on the blockchain. Here, your presence isn’t measured by transactions, 
            but by the path you choose and the role you play.     
            <br><br>
            As campaigns unfold, players will shape narrative, unlock hidden layers, and begin to build their evolving digital identity.
            </p>
        </div>
        <div class="text text--top">
            <p>
                The Omniverse is open. Are you ready to step in?            
            </p>
        </div>
    </div>
</main>
