.library-content {
  background-color: #0a141c;
  height: 100%;
  width: 100%;
  text-align: center;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  overflow: auto;
}

.header {
  margin-top: 32px;
  align-items: center;
  align-self: center;
  align-content: center;
  font-size: 48px;
}

.text {
  color: white; 
  width: 60%;
  margin-left: 20%;
}

.subheader {
  font-size: xx-large;
}

.return {
  cursor: pointer;
  font-size:64px;
  color: white; 
  position: absolute;
  left: 32px;
  top: 16px;
}

.story {
  font-size: x-large;
  width: 60%;
  margin-left: 20%;
}