.art {
    background-image: url('../../../assets/museum.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 150px;
    height: 180px;
    transition: all 0.5s ease;

    &:hover {
        -webkit-filter: brightness(150%);
        filter: brightness(150%);
    }
}

.positioning {
    margin-top: 600px;
    margin-left: 710px;
    transform: scaleX(-1);
    z-index: 5
}