.library-content {
  background-color: #0a141c;
  height: 100%;
  width: 100%;
  text-align: center;
  position: absolute;
  animation: appear ease-in-out 0.5s;
}

.header {
  margin-top: 32px;
  align-items: center;
  align-self: center;
  align-content: center;
}

.return {
  cursor: pointer;
  font-size:64px;
  color: white; 
  position: absolute;
  left: 32px;
  top: 16px;
}

.appear {
  animation: 1.5s ease-out 0s 1 slideInFromRight forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}