.art {
  background-image: url("../../../../assets/university.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 180px;
  height: 180px;
  transition: all 0.5s ease;

  &:hover {
    -webkit-filter: brightness(150%);
    filter: brightness(150%);
  }
}

.positioning {
  margin-top: 490px;
  margin-left: 585px;
  transform: scaleX(-1);
}
