/* You can add global styles to this file, and also import other style files */
.background {
  z-index: 0;
  background-color: #0a141c;
  display: flex;
  overflow: hidden;
}

.m-0 {
  margin: 0;
}

h1 {
  color: white;
}

p {
  color: white;
}

:host {
  display: block;
  height: 100vh;
  width: 100vw;
}
