/* You can add global styles to this file, and also import other style files */
.background {
  z-index: 0;
  background-color: #0a141c;
  display: flex;
  overflow: hidden;
}

.zoom {
  transform: scale(10);
  transform-origin: 25% 50%;
  z-index: 10;
}

.m-0 {
  margin: 0;
}

h1 {
  color: white;
}

p {
  color: white;
}
