.container {
  min-width: 1000px;
}

.image {
  z-index: 1;
  background-image: url("https://i.ibb.co/bgh36jvZ/city.png");
  background-repeat: no-repeat;
  height: 1000px;
  width: 1000px;
  margin: auto;
  vertical-align: middle;
}
